.container {
  min-height: calc(100vh - 64px);
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 25% 1fr;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;
}

table {
  height: fit-content;
  width: 98%;
  min-width: 580px;
}

.ativo {
  color: red;
}


a {
  text-decoration: none;
}

#add {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.status {
  border: 1px solid rgba(0, 0, 0, 0.192);
  width: 40%;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  font-weight: 500;
  color: #ffff;
}

.LANCADO {
  background-color: #28c009;
}

.QUITADO {
  background-color: #060000;
}

@media screen and (max-width: 1700px) {
 
  main {
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    box-sizing: border-box;
  }
  
}