#salvar {
  margin-top: 16px;
}

mat-card {
  display: flex;

  flex-direction: column;
  width: 350px;
  margin: auto;
}

#menu {
  margin-left: auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-form-field {
  width: 300px;
}

.formSubmit {
  width: 300px;
}

@media (max-width: 1700px) {
  mat-card {
    margin: 0 auto;
  }
}
