
  #salvar {
    margin-top: 16px;
  }


  #menu {
    margin-left: auto;
  }


    mat-card {
      display: flex;

      flex-direction: column;
      width: 350px;
      margin:auto;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    mat-form-field {
      width: 300px;
    }

    button {
      width: 300px;
      margin-bottom: 15px;
    }
    @media (max-width: 1700px) {

      mat-card {
         margin: 0 auto;
       }

     }
