mat-toolbar-row {
  display: flex;
  align-items: center;
}

.separador {
  flex-grow: 1;
}

p {
  font-size: 14px;
  padding-right: 14px;
}

h1 {
  color: #fff;
}

.logout-button {
  align-items: flex-end;
  color: #ffd900;
}

mat-toolbar {
  color: #fff !important;
  background-color: #0f637a !important;
}

#menu {
  color: #ffd900;
  padding-right: 4vh;
}

@media (max-width: 900px) {
  p {
    display: none;
  }
}

@media (max-width: 600px) {
  mat-toolbar {
    min-width: 614px;
  }
}
