form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
}

#salvar {
  margin-top: 16px;
}

div {
  display: flex;
  justify-content: space-between;
}

#fechar {
  float: left;
}

@media (max-width: 560px){
  form {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
  }
}
