
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
table {
  width: 100%;
  
}

.tabela{
  width: 80%;
}

#add {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.barra-pesquisa {
  width: 300px;

  text-align: center;

  border-radius: 1px;
  margin: 2vh 0;
}

mat-paginator {
  width: 100%;
 
}


.status {
  border: 1px solid rgba(0, 0, 0, 0.192);
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  font-weight: 500;
  color: #ffff;
}

.RECEBIDO {
  background-color: #ffbf00;
}

.ATRIBUIDO {
  background-color: #056984;
}

.CONCLUIDO {
  background-color: #28c009;
}

.ARQUIVADO {
  background-color: #060000;
}