<div class="loader" *ngIf="pagamento == undefined; else principal">
    <p>{{ naoEncontrado == true ? 'Pagamento não encontrado' : 'Procurando pagamento...' }}</p>
    <mat-spinner mode="indeterminate" color="primary" *ngIf="naoEncontrado == false"></mat-spinner>
</div>
<ng-template #principal>

    <mat-card>
        <mat-card-header>
            <mat-card-title> Pagamento nº. {{ pagamento.idPagamento }}</mat-card-title>
            <mat-card-subtitle> Status: {{ pagamento.statusPagamento }} </mat-card-subtitle>


        </mat-card-header>
        <mat-card-content>
            <form action="" [formGroup]="formPagamento" (ngSubmit)="salvarAtualizacoes()">

                <mat-form-field appearance="fill">
                    <mat-label>Valor</mat-label>
                    <input type="text" matInput placeholder="Ex: 20000" formControlName="valor">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Forma Pagamento</mat-label>
                    <mat-select formControlName="formPagamento">
                        <mat-option [value]="forma" *ngFor="let forma of formas"> {{forma}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Status Pagamento</mat-label>
                    <mat-select formControlName="statusPagamento">
                        <mat-option [value]="statu" *ngFor="let statu of status"> {{statu}} </mat-option>
                    </mat-select>
                </mat-form-field>


                <button type="submit" mat-raised-button color="accent" id="salvar" [disabled]="desabilitar"
                    matTooltip="Salvar atualizações do pagamento" matTooltipPosition="above">Salvar
                    atualizações</button>
            </form>
        </mat-card-content>
    </mat-card>
</ng-template>