<div class="loader" *ngIf="cliente == undefined; else principal">
    <p>{{ naoEncontrado == true ? 'Cliente não encontrado' : 'Procurando cliente...' }}</p>
    <mat-spinner mode="indeterminate" color="primary" *ngIf="naoEncontrado == false"></mat-spinner>
</div>
<ng-template #principal>
    <button class="btn-voltar" mat-menu-item matTooltip="Voltar">
        <mat-icon routerLink="/clientes" matTooltip="Voltar">arrow_back</mat-icon>

    </button>
    <mat-card>
        <mat-card-header>
            <mat-card-title> Cliente </mat-card-title>
           <mat-card-subtitle> id: {{ cliente.idCliente}}</mat-card-subtitle>
           <!--  <mat-card-subtitle> Status: {{ pagamento.statusPagamento }} </mat-card-subtitle> 
 -->

        </mat-card-header>
        <mat-card-content>
            <form action="" [formGroup]="formCliente" (ngSubmit)="salvarAtualizacoes()">

                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input type="text" matInput placeholder="Nome do cliente" formControlName="nome">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input type="text" matInput placeholder="email@email.com" formControlName="email">
                </mat-form-field>

                


                <button type="submit" mat-raised-button color="accent" id="salvar" [disabled]="desabilitar"
                    matTooltip="Salvar atualizações do cliente" matTooltipPosition="above">Salvar
                    atualizações</button>
            </form>
        </mat-card-content>
    </mat-card>
</ng-template>